<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="senate-data.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="app">

		<header>
			<div class="topper">
				<div class="container logo_senate">
					<img src="logotgif.png" alt="the logo of the TGIF" />
					<h1>Transparent Government in Fact</h1>
				</div>
				<div class="email"><span>&#9993;<a href="mailto:tgif.net">info@tgif.net</a></span></div>
			</div>
		</header>

		<div class="container navigation">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler" type="button" data- toggle="collapse" data-target="#navbarSupportedContent">
					aria-controls="navbarSupportedContent" aria-
					expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="home.html">Home
								<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Congress 113
							</a>
							<div class="dropdown-menu" aria- labelledby="navbarDropdown">
								<a class="dropdown-item" href="house-data.html">House</a>
								<a class="active dropdown-item">Senate</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Attendance
							</a>
							<div class="dropdown-menu" aria- labelledby="navbarDropdown">
								<a class="dropdown-item" href="house-attendance.html">House</a>
								<a class="dropdown-item" href="senate-attendance.html">Senate</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Party Loyality
							</a>
							<div class="dropdown-menu" aria- labelledby="navbarDropdown">
								<a class="dropdown-item" href="house-party-loyalty.html">House</a>
								<a class="dropdown-item" href="senate_loyalty.html">Senate</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<div id="loader"></div>
		<div style="display:none;" id="myDiv" class="animate-bottom">
			<header>

				<div class="container-fluid">
					<div class="text_senate">


						<h2>Senators</h2>

						<p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
					</div>
				</div>
			</header>



			<div class="choice">
				<p>Filter by party:
					<input id="republican" type="checkbox" name="Party" value="Republican" @click="myFilter()" checked>Republican
					<input id="democrat" type="checkbox" name="Party" value="Democrat" required @click="myFilter()" checked>Democrat
					<input id="independant" type="checkbox" name="Party" value="Independant" required @click="myFilter()" checked>Independant
				</p>
			</div>

			<div class="country">
				<label for="region">Filter by State:</label>
				<select name="region" id="region" @change="myFilter()">
					<option id="all" value="All">All</option>
					<option v-for='state in states' :id="state" :value="state">{{state}}</option>
				</select>
			</div>


			<!--Table container-->

			<table id="senate-data" class="table">
				<thead></thead>
				<tbody id="members">

					<tr>
						<th>Full name</th>
						<th>Party</th>
						<th>State</th>
						<th>Seniority</th>
						<th>Total Votes</th>
					</tr>
					<tr v-for="member in members">
						<td><a :href="member.url">{{member.first_name}} <span v-if="member.middle_name != null">{{member.middle_name}}</span> {{member.last_name}}</a>
						</td>
						<td>{{member.party}}</td>
						<td>{{member.state}}</td>
						<td>{{member.seniority}}</td>
						<td>{{member.total_votes}}</td>
					</tr>
				</tbody>

			</table>

			<div class="footer">
				<p class="text-center">&#169;2016 TGIF | All Rights Reserved</p>
			</div>

		</div>
	</div>
	<!--	<script src="pro-congress-113-senate.js"></script>-->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="senate-vue.js"></script>
</body>

</html>
